*{
    padding:0;
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

 .main{
    background-image: url('img/header-bg.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    

   
}

.head h3{
    color: rgb(244, 161, 17);
    position: relative;
    top: 20px;
    left: 80px;
    font-family: cursive;
    font-size: x-large; 
} 

.container{
    display: grid;
    grid-template-columns: auto auto;
    width:100%;
    height: 70px;
    background-color: rgb(78, 73, 73);
    position: fixed;
    top: 0;

}

.nav a{
    color:whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    margin-left: 40px;
    position: relative;
    top:40px;
    
    
}   

.face {
    color: aliceblue;
    text-align: center;
}

.face h2{
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    top: 250px;
}

.face h1{
    text-transform: uppercase;
    font-size: 80px;
    position: relative;
    top: 300px;
}

.face button{
    background-color: rgb(244, 161, 17);
    color: aliceblue;
    border-radius: 10px;
    width:160px;
    height:60px;
    font-size: 15px;
    text-transform: uppercase;
    border-width: 0;
    position: relative;
    top: 350px;
} 

.sections{
    display:grid;
    grid-template-columns: 100%;
    width: 100%;
    height: 100vh; 
    background-color: beige;
}
.services{
    text-align: center;   
    font-size: x-large;
    position: relative;
    top: 70px;
}
.commerce, .responsive, .web{
    text-align: center;
    width:80%;
    height: 50%;
    margin-bottom: 10px;
    position: relative;
    top:30px ; 
    left: 70px;
}


.icons{
    display: grid;
    grid-template-columns: auto auto auto;
}

.ico{
    width:50px;
    background-color: brown;
}
.por{
    position: relative;
    bottom: 100px;
}

.portfolio ,.about{
    text-align: center;
}

.portfolio .por h2, .about h2{
    text-transform: uppercase;
    font-size: xx-large;
    margin-bottom: 20px;
}

.portfolio p, .about p{
    color: rgb(58, 55, 55);
}


.thread, .explore, .finish, .lines, .website, .window{
    display: inline-block;
    text-align: center;
    width:100%;
}
.images{
    display: grid;
    grid-template-columns: auto auto auto;
}

.images h3{
    text-transform: uppercase;
    font-size: x-large;
    margin-bottom: 10px;
}

img{
    width: 400px;
    height: 300px;
}

 .images .tread p, .images .explore p, .images .finish p, 
 .images .lines p, .images .website p, .images .window p{
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(94, 89, 89);
    margin-bottom: 40px;
}

.history, .march, .july{
    display: grid;
    grid-template-columns: auto auto;
}

.history .head1{
    width:30%;
    height: 200px;
    position: relative;
    left: 23%;
    top: 20%;
}

.image1{
    position: relative;
    right: 550px;
    top: 20%;
    border-radius: 50%;
    width: 90%;
    height: 90%;

}

.image2{
   border-radius: 50%;
   width:90%;
   height: 90%;
   position: relative;
   left: 640px;
   top:40%;
}
.march .head2{
    width: 30%;
    height: 200px;
    position: relative;
    left:55%;
    top:45%;

}
.july .head3{
    width: 30%;
    height: 200px;
    position: relative;
    left: 23%;
    top:70%;
    
}

.image3{
    position: relative;
    right: 540px;
    top:65%;
    border-radius: 50%;
    width: 90%;
    height: 90%;
}
.about .end{
   width: 150px;
   height: 100px;
   border-radius: 50%;
   background-color: rgb(237, 211, 64);
    position: relative;
    top: 250px;
    left: 650px;
}

.end h3{
   position: relative;
   top: 30px;
}
.team{
    background-color: rgb(207, 205, 205);
    width: 100%;
    height: 100vh;
    position: relative;
    top: 400px;
}

.team .our{
    text-align: center; 
    position: relative;
    top: 100px;
}
.our h2{
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
}
.parveen, .diana, .larry{
    width: 70%;
    position: relative;
    left: 100px;
    top: 130px;
   
    text-align: center;
}

.parveen img, .diana img, .larry img{
    width: 60%;
    height: 60%;
    border-radius: 50%;
}

.name p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon i{
    margin-right: 20px;
}


.name{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
}


.para{
    text-align: center;
    position: relative;
    top: 150px;
    
}
